@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <span asp-validation-for="FizzBuzzForm.Number" class="alert-danger "></span>
    
    <form method="post">
        <input asp-for="FizzBuzzForm.Number" type="text" placeholder="Podaj liczbę"/>
        <input type="submit" value="Wyslij"/>
    </form>
    @if (Model.FizzBuzzForm != null)
    {
        <span class="alert-success">@Html.DisplayFor(model => model.Message)</span>
    }
</div>
