@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <form method="post" class="col-6 offset-3">
        <div class="form-group pt-1">
            @if (Model.DateForm != null && ModelState["DateForm.Name"].Errors.Count > 0)
            {
                <div class="form-group pb-1">
                    <span asp-validation-for="DateForm.Name" class="form-control alert-danger "></span>
                </div>
            }
            <input asp-for="DateForm.Name" class="form-control" type="text" placeholder="Podaj imię" />
        </div>
        <div class="form-group pt-1">
            @if (Model.DateForm != null && ModelState["DateForm.Year"].Errors.Count > 0)
            {
                <div class="form-group pb-1">
                    <span asp-validation-for="DateForm.Year" class="form-control alert-danger "></span>
                </div>
            }
            <input asp-for="DateForm.Year" class="form-control" type="text" placeholder="Podaj rok urodzenia" />
        </div>
        <div class="form-group pt-1 align-items-start d-flex justify-content-between">
            <input type="submit" class="btn btn-primary " value="Wyslij" />
        </div>
        @if (Model.DateForm != null && ModelState.IsValid)
        {
            <div class="form-group pt-1">
                <span class="form-control alert-success">@Html.DisplayFor(model => model.Message)</span>
            </div>
        }
    </form>
</div>
